---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Local Brewery Website - Prototype</title>
</head>

<link rel="stylesheet" href="assets/css/main.css">

<body>

{% include intro.html %}

{% include beer.html %}

{% include mission.html %}

{% include brewery.html %}

{% include taproom.html %}

{% include footer.html %}

</body>
</html>
