<!-- The Beer Section -->

<section class="section section--beer">
  <h2 class="section__title">The Beer</h2>
  <p class="section__subtitle">Some of what we have to offer</p>
  <p>For example, the busch indicates that a tipsy bottle dances with some geosynch sierra nevada. Furthermore, I feel like I already wrote this shit, where the funk did it go?</p>

  <div class="grid-carousel">
    <!-- carousel item 1 -->
    <figure class="grid-carousel__item">
      <img src="./assets/img/beer-1.jpg" alt="glass of brew" class="grid-carousel__img">
        <figcaption class="grid-carousel__caption">
          <h3 class="grid-carousel__title">IPA</h3>
          <p class="grid-carousel__subtitle">6.2% Alcohol</p>
          <p class="grid-carousel__description">Our take on a classic style.</p>
        </figcaption>
    </figure>

    <!-- carousel item 2 -->
    <figure class="grid-carousel__item">
      <img src="./assets/img/beer-2.jpg" alt="glass of brew" class="grid-carousel__img">
        <figcaption class="grid-carousel__caption">
          <h3 class="grid-carousel__title">IPA</h3>
          <p class="grid-carousel__subtitle">6.2% Alcohol</p>
          <p class="grid-carousel__description">Our take on a classic style.</p>
        </figcaption>
    </figure>

    <!-- carousel item 3 -->
    <figure class="grid-carousel__item">
      <img src="./assets/img/beer-3.jpg" alt="glass of brew" class="grid-carousel__img">
        <figcaption class="grid-carousel__caption">
          <h3 class="grid-carousel__title">IPA</h3>
          <p class="grid-carousel__subtitle">6.2% Alcohol</p>
          <p class="grid-carousel__description">Our take on a classic style.</p>
        </figcaption>
    </figure>

    <!-- carousel item 4 -->
    <figure class="grid-carousel__item">
      <img src="./assets/img/beer-4.jpg" alt="glass of brew" class="grid-carousel__img">
        <figcaption class="grid-carousel__caption">
          <h3 class="grid-carousel__title">IPA</h3>
          <p class="grid-carousel__subtitle">6.2% Alcohol</p>
          <p class="grid-carousel__description">Our take on a classic style.</p>
        </figcaption>
    </figure>

    <!-- carousel item 5 -->
    <figure class="grid-carousel__item">
      <img src="./assets/img/beer-5.jpg" alt="glass of brew" class="grid-carousel__img">
        <figcaption class="grid-carousel__caption">
          <h3 class="grid-carousel__title">IPA</h3>
          <p class="grid-carousel__subtitle">6.2% Alcohol</p>
          <p class="grid-carousel__description">Our take on a classic style.</p>
        </figcaption>
    </figure>
  </div>
</section>
